.AndroidStudio*/
.android/
.bash_history
.bash_profile
.config/
.crashlytics/
.emulator_console_auth_token
.git-templates/
.gradle/
.lesshst
.minttyrc
.viminfo
repositories/
.ssh/
bak_lmiceli
AndroidStudioProjects/
AppData/
Contacts/
DEV/
Desktop/
Documents/
Downloads/
Favorites/
Google Drive/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
NTUSER.DAT
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
diff*
ntuser.*
tmp*
.tooling
.vscode
3D Objects/desktop.ini
