.AndroidStudio*/
.android/
.bash_history
.bash_profile
.config/
.crashlytics/
.emulator_console_auth_token
.git-templates/
.gradle/
.lesshst
.minttyrc
.viminfo
repositories/
.ssh/
bak_lmiceli
AndroidStudioProjects/
AppData/
Contacts/
DEV/
Desktop/
Documents/
Downloads/
Favorites/
Google Drive/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT*
NTUSER.DAT
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
diff*
ntuser.*
tmp*
.tooling
.vscode
3D Objects/desktop.ini
- Copy.bashrc
- Copy.gitconfig
.IdeaIC2016.2/
.VirtualBox/
.WebStorm2016.3/
.atom/
.babel.json
.counterplay/
.eclipse/
.jmc/
.m2/
.nbi/
.node_repl_history
.oracle_jre_usage/
.ssh/
.sts/
.tooling/
.vscode/
Application Data/
Cookies/
IdeaProjects/
Intel.sav/
Intel/
Local Settings/
My Documents/
Recent/
SendTo/
Start Menu/
Tracing/
VirtualBox VMs/
dev - Shortcut.lnk
file1
scripts/
